<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">URL Shortener</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
            <a class="nav-link" routerLink="/urls">Shortened URLs</a>
          </li>

         
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isAuthenticated">
              <a style="cursor: pointer;" (click)="onLogout()" class="nav-link">Logout</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
                <a class="nav-link" routerLink="/auth">Authenticate</a>
              </li>
          </ul>

      </div>
    </div>
  </nav>