<div class="row">
    <div class="card">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              ngModel
              name="password"
              required
              minlength="6"
            />
            <hr>
          </div>
          <div>
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!authForm.valid"
            >
              {{ isLoginMode ? 'Login' : 'Sign Up' }}
            </button>
            |
            <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
              Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
            </button>
          </div>
        </form>
        <hr>
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
          </div>
          <div *ngIf="isLoading" style="text-align: center;">
           Loading...
          </div>
      </div>



  </div>
  