<div class="row">
    <div class="col-xs-12">
        URL details
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ url!.shortUrl }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">      
      <p>Original URL: {{ url!.originalPath }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

        <button
          type="button"
          class="btn btn-danger" style="cursor: pointer;" (click)="onDeleteURL()">
          Remove Url 
        </button>
    </div>
  </div>