<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ url.shortUrl }}</h4>
    <p class="list-group-item-text">{{ url.originalPath }}</p>
  </div>
</a>
