<div class="row">

  <div class="col-xs-12">
    <!-- <div *ngIf="success" class="alert alert-success">I am happy
      <button (click)="onCloseSuccess()" type="button" class="btn btn-success"></button>

    </div> -->

    <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="success">
      <strong>Congratz!</strong> You have just shortened URL!
      <button (click)="onCloseSuccess()" type="button" class="btn-close" data-bs-dismiss="success" aria-label="Close">

      </button>
    </div>
    <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button *ngIf="!success" type="submit" class="btn btn-success">Generate</button>
          <button *ngIf="!success" type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="originalPath">Original Url</label>
            <input
              type="text"
              id="originalPath"
              class="form-control"
              formControlName="originalPath"
            />
            <div *ngIf="urlForm.get('originalPath')!.errors">
              <div
                *ngIf="urlForm.get('originalPath')!.errors!.required"
                class="alert alert-danger"
              >
                Uniform Resource Locator (URL) is required.
              </div>
              <div
                *ngIf="urlForm.get('originalPath')!.errors!.pattern"
                class="alert alert-danger"
              >
                Please enter a valid Uniform Resource Locator (URL)
              </div>
            </div>

            <!-- <div *ngIf="urlForm.errors.required"> This field is required!</div>
    <div *ngIf="urlForm.errors.url"> invalid URL </div> -->
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
